*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.h2{
    text-align: center;
}
body{
    background-color: rgb(142, 250, 218);
}

#heading{
    margin: 30px;
}

#calculator{
    display: flex;
    flex-direction: column;
    margin: auto;

    width:300px;
    height:500px;
    box-shadow: 3px 3px 30px rgb(240, 2, 2);
    border-radius:10px ;

}

.blank{
    width: 100%;
    text-align: right;
    overflow: hidden;
    white-space:nowrap;
    height:150px;
    border:none; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: rgb(2, 2, 2);
    
}

button{
    border:none;    
    margin:2.5px;
    width: 60px;
    height: 60px;
    font-size: 26px;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    }


.btn-yellow{
    background-color: rgb(228, 167, 1);
}

.box{
    padding: 12.5px;
    background-color: rgb(16, 9, 51);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
}


